* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
}

.section1 {
  width: 1440px;
  height: 600px;
  background-color: #2e2f42;
  position: relative;
}
h1 {
  width: 496px;
  height: 120px;
  position: absolute;
  top: 260px;
  left: 472px;
  font-size: 56px;
  font-weight: 700;
  line-height: 3.75rem;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.button {
  width: 169px;
  height: 56px;
  position: absolute;
  top: 428px;
  left: 636px;
  display: inline-block;
  padding: 16px, 32px, 16px, 32px;
  border-radius: 4px;
  gap: 10px;
  background: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.04em;
  color: white;
  cursor: pointer;
  


 
}
.button:hover,
.button:focus {
    background: #404BBF;
    transition: 0.5s;

}


.portfolio-header, h2 {
  text-align: center;
  margin: 100px 0px;
  font-size: 36px;
  font-weight: 700;
  line-height: 2.5rem;
  color: #2E2F42;

}
.ul {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}
.ul .name {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  color: #2E2F42;

}

.ul .sub-name {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 400;
  color: #2e2f42;
}

.ul2 li {
    width: 264px;
    height: 104px;
    margin: 50px 0;


}
h2 {
    text-align: center;
    margin: 50px 0px;
}